@charset "ISO-8859-1";

.card-sh {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

.cat-div {
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.error {
	color: red;
}

.bg-red {
    background-color: #dc3545; /* Bootstrap red */
}

.bg-cream {
	background-color: #F9EADB !important;
}

.btn-red {
	background-color: #dc3545; 
	color: #ffffff; 
  }
  
  .btn-red:hover {
	background-color: #F9EADB;
	color: #000000; 
  }

.red-radio:checked {
    background-color: #dc3545; 
    border-color: #dc3545; 
}


.red-radio:checked + .form-check-label {
    color: #dc3545;
}