<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Bake Onl</title>

</head>
<body >
	<section>
			 
		<div class="row mt-5 ">
			<!--< Start Category Module -->
			<div class="col-2 mt-5 ">
                <!-- Category Navigation Start -->
				<div class="container-fluid border border-2 border-start-0 rounded-5 rounded-start-0 ms-4" style="height: 120%;">
					<!-- Offcanvas for Categories -->
					<div class="card-body offcanvas-start " tabindex="-1">
						<div class="pb-3 border-bottom border-2">
							<h5 class="fs-h1 pt-3 mb-0 d-inline-block align-middle">
								<i class="fa-solid fa-list" style="color: #888; vertical-align: auto;"></i>
								<b style="position: relative; left: 50%">Category</b>
							</h5>
						</div>
						<div class="">
							<ul class="list-group list-group-flush">
								<!-- Loop through every category -->
								<li class="list-group-item" th:each="c:${category}">
									<span class="pt-1 form-checked-content icon-link">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
											<path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
										</svg>										
										<span th:text="${c.name}"></span>  <!-- This will insert the category name -->
									</span>
									
									<ul class="px-4 border-start ms-2" style="list-style-type: none;">
										<!-- Loop through products within the category -->
										<li th:each="p:${products}">
											<span th:text="${p.title}"></span>
										</li>
									</ul>									
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
			<!-- End Category Module -->

			<!-- Start Product Module -->
			<div class="col mt-5">
				<!-- Search Bar -->
				<form role="search" style="position: relative;" class="d-flex justify-content-center">
					<input class="form-control rounded-pill p-3 m-3 w-75" type="search" placeholder="Search" aria-label="Search" style="background: #e6e6e6; text-indent: 30px;">
					<i class="fas fa-search " style="position: absolute; left: 14rem; top: 50%; transform: translateY(-50%); color: #888;"></i>
				</form>
				<!-- End of Search Bar -->

				<!-- Item Carousel -->
				<div class="container rounded-4 mt-5" style="background:#FFF6EC" th:each="c:${category}">
					<!-- Tittle -->
					<h1 class="card-title pb-3 pt-3 ps-3" th:href="@{'/products?category='+${c.name}}">
							[[${c.name}]]
					</h1>
					<!-- End of Tittle -->
					<div id="carouselExample" class="carousel">
						<div class="carousel-inner">
							<!-- Carousel Slide -->
							<div class="carousel-item active" th:each="p:${products}" >
								<!-- Product Card -->
								<div class="card" >
									<div class="img-wrapper">
										<img th:src="@{'/img/product_img/'+${p.image}}"  alt="...">
									</div>
									<div class="card-body">
										<h5 class="card-title text-center" >[[${p.title}]]</h5>
										<p class="card-text">
											Some quick example text to build on the card title and make up the bulk of the card's content.
										</p>
										<div class="row text-center" style="justify-content: center;">
											<a th:href="@{'/user/addCart?pid='+${p.id}+'&uid='+${user.id}}"
												class="text-start btn col-md-4 offset-md-6 rounded-pill p-2" 
												style="background: #E5882969;">
												<span>
													<b style="position:relative; left: 5%; font-family: 'Plus Jakarta Sans', sans-serif;">
														[[${p.discountPrice}]] &#8363
													</b>
													<img style="position:relative; left: 5%;" src="/img/plusIcon.png" alt="icon">
												</span> 
											</a>
										</div>
									</div>
								</div>
								<!-- End of Product Card -->
							</div>
							<!-- End of Carousel Slide -->
						</div>
						<button class="carousel-control-prev" type="button" 
							data-bs-target="#carouselExample" data-bs-slide="prev"
							style="width: 50px">
						  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" 
							data-bs-target="#carouselExample" data-bs-slide="next"
							style="width: 50px">
						  <span class="carousel-control-next-icon" aria-hidden="true"></span>
						  <span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>
			</div>
			<!-- End of Item Carousel -->
		<!-- End Product Module -->
		</div>

	</section>
</body>
</html>