<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<body>
	<section>

		<div class="container">
			<div class="row mt-5">

				<!-- <div class="col-md-6 p-5">
					<img alt="" src="img/ecom.png" width="100%" height="400px">
				</div> -->

				<div class="col-md-6 mt-3 p-5 mx-auto">
					<div class="card shadow mb-5 bg-body-tertiary rounded">
						
						<img src="img/bg-login.jpg" class="card-img-top" style="height: 200px; object-fit: cover; width: 100%;">

						<!-- Header  -->
						<div class="card-header mx-5">
							<p class="fs-1 text-center m-2">Sign In</p>
							<div th:if="${param.error}"
								class="alert alert-danger text-center">
								<th:block
									th:if="${session.SPRING_SECURITY_LAST_EXCEPTION!=null}">
									[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]
								</th:block>
							</div>
							<div th:if="${param.logout}" class="alert alert-success">
								Logout Sucessfully
							</div>
						</div>

						<!-- Body  -->
						<div class="card-body mx-5">
							<form action="/login" method="post">
								<div class="mb-3">
									<div class="row">
										<div class="col-auto">
											<label class="form-label">Email</label>
										</div>
										<div class="col-auto">
											<div class="fc-red">*</div>
										</div>
									</div>									
									<input required
										class="form-control" name="username" type="email">
								</div>
								<div class="mb-3">
									<div class="row">
										<div class="col-auto">
											<label class="form-label">Password</label>
										</div>
										<div class="col-auto">
											<div class="fc-red">*</div>
										</div>
									</div>
									<input required
										class="form-control" name="password" type="password">
								</div>
								<a href="/forgot-password" class="text-link fs-note text-end float-end">Forgot your password?</a>
								<button type="submit"
									class="btn-maincolor col-md-12 mt-3 mb-3">LOG IN
								</button>
							</form>
						</div>

						<!-- Footer -->
						<div class="card-footer text-center mx-5 mb-5">
		
							<div class="mt-2 mb-2">
								NO ACCOUNT YET?
							</div>
							<button class="btn-subcolor mb-2" onclick="window.location.href='/register'">CREATE ONE</button>

							<!-- <a href="/register" class="text-link">Create one </a> -->
							
						</div> 

						
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
