<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
	
		<div class="container-fluid bg-danger p-4" style="margin-top: 5em;">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form action="/products" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-light text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass"></i> 
								Search
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>


		<div class="container-fluid mt-1">
			<div class="row">
				<!-- Sidebar - Categories -->
				<div class="col-md-2 p-0">
					<div class="card shadow-sm p-0 mb-5 bg-body-tertiary border border-2 border-start-0 rounded-5 rounded-start-0" style="height: 100%;">
						<div class="card-body">
							<div class="list-group">
								<div class="pb-3 border-bottom border-2">
									<h5 class="fs-h1 pt-3 mb-0 d-inline-block align-middle">
										<i class="fa-solid fa-list" style="color: #888; vertical-align: auto;"></i>
										<b style="position: relative; left: 60%">Category</b>
									</h5>
								</div>
								<!-- Categories List -->
								<ul class="list-group list-group-flush">
									<li class="list-group-item" th:each="c : ${categories}">
										<span class="pt-1 form-checked-content icon-link">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
												<path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
											</svg>
											<a class="custom-link" th:text="${c.name}" th:href="@{'/products?category=' + ${c.name}}" style="font-weight: bold;"></a>
										</span>
										<!-- Products List for each Category -->
										<ul class="px-4 border-start ms-2" style="list-style-type: none;">
											<li th:each="p : ${products}" th:if="${p.category == c.name}">
												<a class="custom-link" th:text="${p.title}" th:href="@{'/product/' + ${p.id}}"></a>
											</li>
										</ul>
									</li>
								</ul>
							</div>                            
						</div>
					</div>
				</div>
			
				<!-- Main Content - Products -->
				<div class="col-md-10 ">
					<div class="card " style="background-color: #FFF6EC;">
						<div class="card-body">
							<p class="fs-3 text-center" style="font-family: 'Playfair Display', serif;"><b>Products</b></p>
							<div class="row">
								<th:block th:if="${productsSize > 0}">
									<!-- Loop through each product -->
									<div class="col-md-3 mt-2" th:each="p : ${products}">
										<div class="card card-sh">
											<div class="card-body text-center">
												<img alt="" th:src="@{'/img/product_img/'+${p.image}}" width="150px" height="150px">
												<p class="fs-5 text-center">[[${p.title}]]</p>
												<div class="row text-center">
													<p class="fs-6 fw-bold ">
														<span th:if="${p.discount > 0}" class="text-decoration-line-through text-secondary">[[${p.price}]] &#8363</span>
														<span class="fs-6 text-success" th:if="${p.discount > 0}">&nbsp[[${p.discount}]]% off</span>
														<br>
														<span>[[${p.discountPrice}]] &#8363</span>
													</p>
													<a th:href="@{'/product/'+${p.id}}" class="btn btn-danger col-md-6 offset-md-3">View Details</a>
												</div>
											</div>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${productsSize > 0}">
									<p class="fs-4 text-center mt-4 text-danger">Product not available</p>
								</th:block>
							</div>
						</div>
					</div>
					<!-- Pagination -->
					<div class="row">
						<div class="col-md-4">Total Products : [[${totalElements}]]</div>
						<div class="col-md-6">
							<th:block th:if="${productsSize > 0}">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:classappend="${isFirst} ? 'disabled' : ''">
											<a class="page-link" th:href="@{'/products?pageNo=' + ${pageNo - 1}}" aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${pageNo + 1 == i} ? 'active' : ''">
											<a class="page-link" th:href="@{'/products?pageNo=' + ${i - 1}}">[[${i}]]</a>
										</li>
										<li class="page-item" th:classappend="${isLast} ? 'disabled' : ''">
											<a class="page-link" th:href="@{'/products?pageNo=' + ${pageNo + 1}}" aria-label="Next">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
								</nav>
							</th:block>
						</div>
					</div>
				</div>
			</div>			
		</div>

	</section>
</body>
</html>